$black: #3c3f42;
$grey: #D7D7D7;
$dark-grey: #BFBFBF;
$super-dark-grey: #8f8f8f;

$red: #BE393B;
$dark-red: #B33638;

$super-light-blue: #F5F6F7;
$light-blue: #D0DBE5;
$blue: #4B596C;
$dark-blue: #2F3136;

$light-green: #DDEBDE;
$green: #58AD52;

$max-page-width: 960px;

